@import "../../assets/style/colors/colors.scss";
@import "../../assets/style/fonts/fonts.scss";

.textHomeCompt {
  display: flex;
  flex-direction: column;
  &__prevTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 27px;
    p {
      margin-left: 14px;
      font-family: GilroySemiBold;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $black;
    }
  }
  &__title {
    h3 {
      font-family: GilroySemiBold;
      font-size: 40px;
      line-height: 47px;
      color: $black;
      margin-bottom: 24px;
    }
    p {
      font-family: Roboto;
      font-size: 16px;
      line-height: 24px;
      color: $black;
    }
  }
}

@media (max-width: 900px) {
  .textHomeCompt {
    &__title {
      h3 {
        font-size: 32px;
        line-height: 38px;
      }
      p {
        font-family: Roboto;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 450px) {
  .textHomeCompt {
    &__title {
      h3 {
        font-size: 26px;
        line-height: 26px;
      }
      p {
        font-family: Roboto;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}
